USE [master]
GO
/****** Object:  Database [BDA]    Script Date: 27/01/2020 6:26:41 ******/
CREATE DATABASE [BDA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BDA.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BDA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BDA_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDA]
GO
/****** Object:  Table [dbo].[Air]    Script Date: 27/01/2020 6:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Air](
	[a] [int] IDENTITY(1,1) NOT NULL,
	[b] [varchar](10) NULL,
	[c] [float] NULL,
	[Fecha] [datetime] NULL,
 CONSTRAINT [PK_Air] PRIMARY KEY CLUSTERED 
(
	[a] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Air] ON 

INSERT [dbo].[Air] ([a], [b], [c], [Fecha]) VALUES (1, N'Ayer', 5, CAST(0x00009FEB00AA86B0 AS DateTime))
INSERT [dbo].[Air] ([a], [b], [c], [Fecha]) VALUES (2, N'Robert', 83.2, CAST(0x0000A15900AA86B0 AS DateTime))
INSERT [dbo].[Air] ([a], [b], [c], [Fecha]) VALUES (3, N'Manantial', 63.3, CAST(0x0000A2C600AA86B0 AS DateTime))
SET IDENTITY_INSERT [dbo].[Air] OFF
USE [master]
GO
